<!DOCTYPE html>
{% extends 'base.html' %}   
{% load static %}


{% block body %}

{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} m-0" style='text-align: center' role="alert" >
    {{message}}
  </div>
{% endfor %}
{% endif %}

  <div class='container py-5 '>
    <div class="card auth-card m-auto my-auto">
        <div class="card-header">
         <h4 class='m-0'> Create Account </h4>
        </div>
        <div class="card-body">
            <form method='POST' action='' id='signupForm'>
                {% csrf_token %}
                <div class="mb-4  input">
                    <label for="signup-username-input" class="form-label">Username Address</label>
                    <input type="username" class="form-control" id="signup-username-input" name='username' placeholder="username" required>
                </div>
                <div class="mb-4 input">
                    <label for="signup_password_input" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signup_password_input" name='password' required>
                </div>
                <div class="mb-4 input">
                    <label for="signup_repassword_input" class="form-label">Re Password</label>
                    <input type="password" class="form-control" id="signup_repassword_input"  required>
                    <p id='v' style='color:red' class='m-0 mt-1'></p>
                </div>
                <div class='d-flex justify-content-between align-items-center'>
                    <a href="{% url 'app:login'  %}" class='light-color'>Are You Have Account</a>
                    <a   onclick='submit_event(event)' class="btn _btn-primary">Signup</a>
                </div>
                
            </form>
        </div>
    </div>
  </div>
{% endblock body %}
